<!-- Bloc title begin -->
<div class="container-fluid p-0 position-relative">
    <div class="bloc_button-card d-flex flex-row-reverse gap-3 p-5 position-absolute" style="right: 100px;">
        <div class="container bg-light display-6">
            <a href="#" class="text-decoration-none">
                <i class="fa-solid fa-pencil text-black"></i>&nbsp;
            </a>
            <a href="#" class="text-decoration-none">
                &nbsp;<i class="fa-solid fa-trash-can text-black"></i>
            </a>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid text-center text-dark d-flex align-items-center"
         style="background-image: url(/img/figure-0002.jpg); background-size: cover; background-position: center; height: 90vh;">
        <div class="container">
            <h1 class="display-4 mx-auto"
                style="text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;">{{ figure.getTitle() }}</h1>
        </div>
    </div>
</div>
<!-- Bloc title ending -->
<!-- Bloc media begin -->
<div class="container mt-3 mb-3 p-3" style="max-width: 1400px; border: 1px solid black">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-6 g-3 d-flex justify-content-around gap-3">
        <div class="bloc_media card p-0" style="border: 1px solid red; width: 180px; height: 120px; overflow: hidden;">
            <img src="https://picsum.photos/200" alt="image snowboarding"
                 style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="bloc_media card p-0" style="border: 1px solid red; width: 180px; height: 120px; overflow: hidden;">
            <img src="https://picsum.photos/200" alt="image snowboarding"
                 style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="bloc_media card p-0" style="border: 1px solid red; width: 180px; height: 120px; overflow: hidden;">
            <img src="https://picsum.photos/200" alt="image snowboarding"
                 style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="bloc_media card p-0" style="border: 1px solid red; width: 180px; height: 120px; overflow: hidden;">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ youtubeId }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="bloc_media card p-0" style="border: 1px solid red; width: 180px; height: 120px; overflow: hidden;">
            <img src="https://picsum.photos/200" alt="image snowboarding"
                 style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="bloc_media card p-0" style="border: 1px solid red; width: 180px; height: 120px; overflow: hidden;">
            <img src="https://picsum.photos/200" alt="image snowboarding"
                 style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="bloc_media card p-0" style="border: 1px solid red; width: 180px; height: 120px; overflow: hidden;">
            <img src="https://picsum.photos/200" alt="image snowboarding"
                 style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="bloc_media card p-0" style="border: 1px solid red; width: 180px; height: 120px; overflow: hidden;">
            <img src="https://picsum.photos/200" alt="image snowboarding"
                 style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="bloc_media card p-0" style="border: 1px solid red; width: 180px; height: 120px; overflow: hidden;">
            <img src="https://picsum.photos/200" alt="image snowboarding"
                 style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="bloc_media card p-0" style="border: 1px solid red; width: 180px; height: 120px; overflow: hidden;">
            <img src="https://picsum.photos/200" alt="image snowboarding"
                 style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="bloc_media card p-0" style="border: 1px solid red; width: 180px; height: 120px; overflow: hidden;">
            <img src="https://picsum.photos/200" alt="image snowboarding"
                 style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="bloc_media card p-0" style="border: 1px solid red; width: 180px; height: 120px; overflow: hidden;">
            <img src="https://picsum.photos/200" alt="image snowboarding"
                 style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <!-- Répète le bloc_media pour chaque élément -->
    </div>
</div>
<!-- Bloc media ending -->
<!-- Bloc description begin -->
<article class="d-flex flex-column align-items-center m-3">
    <p class="m-3 p-3" style="max-width: 1200px;">
        {{ figure.getContentFigure() }}
    </p>
</article>

<div class="container">
    <div class="d-flex justify-content-evenly">
        <!-- Date created -->
        <div class="border p-3 rounded">
            <p class="fw-bold m-0">Creathe the : </p>
            <hr class="m-0">
            <p class="mb-0 mt-3">{{ figure.getDateCreate()|date('Y-m-d') }}</p>
        </div>

        <!-- Category -->
        <div class="border p-3 rounded">
            <p class="fw-bold m-0">Category : </p>
            <hr class="m-0">
            <p class="mb-0 mt-3">{{ figure.getCategory() }}</p>
        </div>

        <!-- Date updated -->
        <div class="border p-3 rounded">
            <p class="fw-bold m-0">Last modified on : </p>
            <hr class="m-0">
            <p class="mb-0 mt-3">{{ figure.getDateUpdate()|date('Y-m-d') }}</p>
        </div>
    </div>
</div>
<!-- Bloc description ending -->